<h1>Create a new celebrity</h1>
<div>
    <form method="POST" action="/celebrities/create">
    <h1>Name: <input name="name"></h1>
    <h1>Occupation: <input name="occupation"></h1>
    <h1>Catchphrase:<input name="catchPhrase"></h1>
    <button type="submit">Submit</button>
    </form>
</div>